* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$purple: rgba(136, 87, 216, 0.949);

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

@mixin display() {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

nav {
    @include display();
    background-color: white;
    width: auto;
    height: 60px;
    border: 1px solid yellowgreen;
    position: sticky;
    top: 0px;
    z-index: 1;
    .logo {
        @include display();
        flex: .5;
        border: 2px solid greenyellow;
    }
    ul {
        @include display();
        gap: 20px;
        flex: 4;
        border: 2px solid greenyellow;
        li{
            font-family: 'Bungee Shade', cursive;
            @include display();
            transition: 250ms;
            border-radius: 8px;
            border: 2px solid greenyellow;
        }
        li, a {
            float: left;
            padding-left: 10px;
            padding-right: 10px;
            list-style: none;
            text-decoration: none;
            color: black;
            font-size: 16px;
            transition: 200ms;
        }
    }

    .gear-container {
        @include display();
        border: 2px rgb(42, 66, 5);
        border: 2px solid greenyellow;
        flex: .5;
        .gear {
            width: 60px;
            height: 25px;
            transition: 650ms;
        }
    }
}

li:hover {
    background-color: $purple;
    transform: scale(1.3);
    box-shadow: 0px 0px 4px black;
    color: white;
}

a:hover {
    color: white;
}

.gear:hover {
    transform: rotate(360deg);
}

header {
    @include display();
    flex-direction: column;
    margin-top: 30px;
    h1 {
        font-family: 'Bungee Shade', cursive;
        font-size: 60px;
        border: 1px greenyellow;
    }
    .info {
        @include display();
        text-align: center;
        font-family: 'Bungee Shade', cursive;
        background-color: rgb(248, 248, 248);
        border-radius: 10px;
        color: black;
        padding: 5px;
        font-size: 16px;
        max-width: 650px;
        box-shadow: 0px 0px 5px black;
        strong {
            color: $purple;
            font-size: 19px;
        }
    }
}

main {
    @include display();
    flex-direction: column;
    border: 2px solid greenyellow;
    margin-top: 10px;
    .buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 300px;
        border: 2px solid greenyellow;
        button {
            @include display();
            width: 50px;
            height: 50px;
            border: none;
            border-radius: 100px;
            background-color: $purple;
            cursor: pointer;
        }
    }
    textarea {
        resize: none;
        border-radius: 10px;
        width: 650px;
        height: 500px;
        border: none;
        background-color: rgb(248, 248, 248);
        margin-top: 10px;
        outline: none;
        padding: 10px;
        font-size: 16px;
        box-shadow: 0px 0px 5px;
    }
}

#content {
    overflow-y: scroll;
    height: 100vh;
}

textarea::placeholder {
    color: rgb(193, 193, 193);
}

body::-webkit-scrollbar {
    display: none;
}

#content::-webkit-scrollbar {
    width: 10px;
}

#content::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}

#content::-webkit-scrollbar-thumb {
    background-color: rgba(136, 87, 216, 0.379);
    border-radius: 50px;
}

